@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  position: relative;
  height: 100%;
}

body.backdrop {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    backdrop-filter: blur(2px);
    transition: .3s all linear;
  }
}


@layer components {
  .container {
    @apply w-full max-w-[1150px] max-xl:px-14 max-lg:px-6 max-md:px-5 mx-auto;
  }
}


.hero {
  background-repeat: no-repeat;
  background-image: url("./assets/images/hero.jpg");
  background-position: 50% 50%;
}


@media (max-width: 992px) {
  .hero {
    background-image: url("./assets/images/hero-mobile.jpg");
    background-size: 100%;
    background-position: center center;
  }
}


/* make a good scroll to the orders section */

.orders::-webkit-scrollbar {
  width: 3px;
}

.orders {
  scroll-behavior: smooth;
}

.orders::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.orders::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
}